body{
    font-family: 'Amatic SC', cursive;
    margin:0px;
}


header{
    height: 100px;
    background-color: green;
    
}
.logo{
    padding-left: 0 70px;
    float:left;
    margin-left: 10px;
}
.logo h1{
    font-size:3em;
    margin:0;
}
header ul li{
    color: black;
    list-style-type: none;
    float:right;
    margin: 0 4px 0 9px;
    font-size:1em;
    padding: 10px;
}
header ul{
    padding:10px 0 10px 0;
}





.box-3 {
    height:300px;
    width: 100%;
    background:url("../img/trees2.jpg")center fixed;
    clear: both;
    font-size: 70px;
    padding-top: 10px;
    
    
}
.box-44{
    height:250px;
    width:100%;
    background-color:black;
    clear:both;
    color: white;
    font-size: x-large;
    
    
}





.box-4 {
    height: 300px;
    width: 100%;
    background-color: green;
    clear: both;
}
.sub-box-4 {
    height:200px;
    width:100%;
    background-color: green;
    margin: 0px auto 0px;
}

.sub-box-6{
    height: 100%;
    width: 30%;
    background-color: black;
    margin: 0px 1% ;
    float: left;
    color:white;
    font-size: x-large;
    padding:10px;
    
}

.sub-box-7{
    height: 100%;
    width: 30%;
    background-color: black;
    margin:0% 4px;
    float: left;
    color: white;
    font-size: x-large;
    padding:10px;

}


   
}

#contact{
    height: 400px;
    background-color:black;
    
    
   
}

.form-box{
    background-color:black;
    height: 400px;
    width: 100%;
    float:left;
    background:url("../img/trees2.jpg")center fixed;
    
}

#name{
    height: 40px;
    width: 150px;
    padding:10px;
}

#email{
   height:40px;
   width: 150px;
   padding:10px;
}



}
footer ul{
    background-color: green;
    height: 100px;
    width: 100%
}
    
div p{
    padding:20px;
    margin:0;
}




